@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.analogTimerPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
    position: relative;
}

.navicon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 32px;
    height: 32px;
    cursor: pointer; 
    z-index: 1001;
}

.h2 {
    position: absolute;
    top: 1rem;
    font-family: pt Sans;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cancelTimer-btn {
    position: absolute;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    bottom: 3rem;
    width: 132px;
    height: 42px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    opacity: .6;
}

.fullscreen-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.fullscreen-nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.fullscreen-nav li {
    margin: 20px 0;
}

.fullscreen-nav a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s;
}

.fullscreen-nav a:hover {
    color: lightgray;
}

.fullscreen-nav .navicon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 32px;
    height: 32px;
    cursor: pointer;
}