@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.timesUpPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #222222;
    position: relative;
    background: radial-gradient(circle,
            #444444,
            #222222,
            #111111);
    animation: gradientAnimation 1s infinite;
}

@keyframes gradientAnimation {
    0% {
        background: radial-gradient(circle,
                #444444,
                #222222,
                #111111);
    }

    10% {
        background: radial-gradient(circle,
                #3f3f3f,
                #1f1f1f,
                #0f0f0f);
    }

    20% {
        background: radial-gradient(circle,
                #3a3a3a,
                #1e1e1e,
                #0e0e0e);
    }

    30% {
        background: radial-gradient(circle,
                #353535,
                #1c1c1c,
                #0d0d0d);
    }

    40% {
        background: radial-gradient(circle,
                #303030,
                #1b1b1b,
                #0c0c0c);
    }

    50% {
        background: radial-gradient(circle,
                #2b2b2b,
                #191919,
                #0b0b0b);
    }

    60% {
        background: radial-gradient(circle,
                #262626,
                #171717,
                #0a0a0a);
    }

    70% {
        background: radial-gradient(circle,
                #202020,
                #161616,
                #090909);
    }

    80% {
        background: radial-gradient(circle,
                #1a1a1a,
                #141414,
                #080808);
    }

    90% {
        background: radial-gradient(circle,
                #151515,
                #121212,
                #070707);
    }

    100% {
        background: radial-gradient(circle,
                #444444,
                #222222,
                #111111);
    }
}

.h1-timesUp {
    margin-top: 2rem;
    color: white;
    top: 1rem;
    font-family: "PT Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
}

.newTimer-link {
    position: absolute;
    bottom: 2rem;
    text-decoration: none;
}

.newTimer-btn {
    color: white;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    width: 150px;
    height: 41px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #222222;
    text-align: center;
    cursor: pointer;
}