@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.timesUpPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #222222;
    position: relative;
}

.h1-timesUp {
    margin-top: 2rem;
    color: white;
    top: 1rem;
    font-family: "PT Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
}

.newTimer-link {
    position: absolute;
    bottom: 2rem;
    text-decoration: none;
}

.newTimer-btn {
    color: white;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    width: 150px;
    height: 41px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #222222;
    text-align: center;
    cursor: pointer;
}

